<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page_title }}</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Mingzat&family=Nunito+Sans:wght@200&family=Poiret+One&family=Quicksand:wght@300;500&family=Rajdhani&family=Space+Mono&family=Poppins:wght@200&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/chat.css' %}">
  


</head>

















<body style="min-height: 100vh;">

  <!-- <div class="my-bg-body"> -->
  <!-- <div class="content"> -->
  <nav class="navbar navbar-expand-lg text-white">
    <div class="container">
      <a class="navbar-brand text-white" href="{% url 'index' %}"><i class="fa fa-comments"></i></a>
      {% if user.is_authenticated %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class=" text-white fa fa-bars"></span>
      </button>



      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto text-white">
          <!-- <li class="nav-item text-white">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li> -->
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'about' %}">ABOUT</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-white" href="#" role="button" data-bs-toggle="dropdown">
              MORE
            </a>
            <ul class="dropdown-menu">
              <!-- <li><a class="dropdown-item" href="#">Contact</a></li> -->
              <!-- <li><a class="dropdown-item" href="#">Help</a></li> -->

              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>

        </ul>

      </div>
      {% endif %}
    </div>
  </nav>
  <!-- </div> -->


  <div class="container">
    {% block content %}





    {% endblock %}
  </div>










  <!-- Footer -->
  <footer class="page-footer text-center text-white fixed-bottom" style="background-color: transparent">
    <!-- Grid container -->
    <div class="container" style="background-color: transparent">
      <!-- Copyright -->


      <div class="row text-center ">

        <div class="col col-md-6 pt-2">
          <p>© 2022 Copyright
            <!-- <a class="text-white" href="#">MySite.com</a> -->
          </p>
        </div>

        <div class="col col-md-6 pt-2">


          <section class="text-center">
            <!-- <a href="#" class="text-white me-4">
                <i class="fa fa-brands fa-facebook-f"></i>
              </a>
              <a href="#" class="text-white me-4">
                <i class="fa-brands fa-twitter"></i>
              </a>

              <a href="#" class="text-white me-4">
                <i class="fa-brands fa-instagram"></i>
              </a> -->
            <a href="https://www.linkedin.com/in/ujjwalsrivastava1102/" class="text-white me-4">
              <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com/ujjwal1102/" class="text-white me-4">
              <i class="fa-brands fa-github"></i>
            </a>

          </section>
        </div>
      </div>

    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  <!-- End of container -->



  <script src="{% static 'js/chat_screen.js' %}"></script>
  
  
  
</body>

</html>

</body>

</html>